body{
    margin: 0px;
    padding: 0px;
    height:700px;
} 
#C_asideL1 {
    width:15%;
    height:100%;
    color:white;
    float:left;
    background-color:#f5f6f8;
}
#C_asideL2 {
    width:15%;
    height:100%;
    color:white;
    float:left;
    background-color:#f4f2f7;
}
#C_asideL3 {
    width:15%;
    height:100%;
    color:white;
    float:left;
    background-color:#f4f2f7;
}
#C_content {
    width:85%;
    height:100%;
    float:left;
}
ul.a{
    list-style:none;
}
ul li{
    padding-top:100px;
    width:100%;
}
ul li a{
    font-family:Arial, Dotum, Helvetica;
    font-size:25px;
    text-align:center center;
    text-decoration:none;
    color:#d17c64;
}
ul li a:hover{
    color:#913b23;
}