body{
    margin: 0px;
    padding: 0px;
    height:700px;
}
.head1{
    height:25%;
    width:55%;
    margin:0px;
    float:left;
}
.head2{
    height:25%;
    width:35%;
    margin:0px;
    float:left;   
}
.head3{
    height:25%;
    width:10%;
    margin:0px;
    float:right;
}

.part{
    height:75%;
    width:33%;
    border:1px solid;
    float:left;
}
.part ul {
    list-style:none;
}
.cart{
    position:relative;
    height:70px;
    width:70px;
    top:100px;
    left:30px;       
}

.none{
    list-style:none;
}